@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

html,body {
    margin: 0;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

.wrap {
    width: 80vw;
    margin: 0 auto !important;
    font-family: 'Lato', sans-serif;
}

#app {
    width: 60vw;
    margin: 0 auto;
}

//@media only screen and (max-width: 1600px) {
//    #app {
//        width: 70vw !important;
//    }
//}

@media only screen and (max-width: 1600px) {
    #app {
        width: 80vw !important;
    }
}

@media only screen and (max-width: 900px) {
    #app {
        width: 100% !important;
    }
}

h1 {
    color: white;
    font-size: 40px;
}

h2 {
    color: white;
    font-size: 28px;
}

h3 {
    color: white;
    font-size: 25px;
}

p {
    font-size: 19px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.btn-standard {
    background-color: #221918;
    border: 1px solid white;
    width: 150px;
    height: 56px;
    color: white;
    font-size: 20px;
    transition: background-color 200ms ease;
    cursor: pointer;
    &:hover {
        background-color: #382F2F;
    }
}

.btn-standard-2 {
    background-color: #221918;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 30px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    display: inline-block;
    -webkit-box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.31);
    box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.31);
    cursor: pointer;
}

.koffieleutje-logo {
    width: 190px;
}

.mobile-menu {
    top: 75px;
    z-index: 8;
    position: fixed;
    display: none;
    width: 75%;
    /*10% voor de margin van de .wrap*/
    left: -110%;
    background-color: #221918;
    height: calc(100% - 75px);
    transition: left 200ms ease;
    &-navigation {
        flex-direction: column;
        display: flex;
        a {
            display: inline-block;
            margin-top: 20px;
        }

        .shopping-bag {
            img {
                margin-left: 10px;
            }
        }

        a.active {
            h2 {
                display: inline-block;
                border-bottom: 1px solid white;
            }
        }

        h2 {
            font-weight: 300;
            margin-bottom: 1px;
            img {
                width: 35px;
                height: auto;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .mobile-menu {
        display: block;
    }

}
