.cup-selector {
    &-inner {
        &-capsules {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 15px;
            .cup-item {
                &-top {
                    &-add {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        opacity: 0;
                        transition: all 200ms ease;
                        box-shadow: none;
                        &:hover {
                            opacity: 1;
                        }

                        &-img {
                            box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.31);
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        &-close {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        &-text {
            p {
                color: #999999;
                font-size: 22px;
            }
        }
        &-paginate {
            display: flex;
            justify-content: center;
            margin-top: 35px;
            &-pages {
                display: flex;
                align-items: center;
                margin: 0 10px;
                div {
                    width: 30px;
                    height: 30px;
                    background-color: rgba(34, 25, 24, 0.5);
                    border-radius: 50%;
                    margin: 0 10px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    p {
                        color: #dfdfdf;
                        font-size: 17px;
                        line-height: 28px;
                    }
                    &.paginateActive {
                        background-color: #221918;
                    }
                }
            }
            img {
                box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.31);
                border-radius: 50%;
                user-select: none;
                cursor: pointer;
                width: 45px;
                height: auto;
            }
        }
    }

    &.cup-selector-modal {
        display: none;
        z-index: 999999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.65);
        align-items: center;
        .cup-selector {
            &-inner {
                width: 60vw;
                margin: 0 auto;
                background-color: #453736;
                padding: 30px 50px;
                position: relative;
            }
        }
    }

    &.cup-selector-mobile {
        .cup-selector {
            &-inner {
                &-capsules {
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 45px;
                }
                &-close {
                    display: none;
                }
                &-text {
                    display: none;
                }
            }

        }
        .cup-item {
            &-top-cupsize {
                width: 40px;
                height: 40px;
            }
            &-bottom {
                p:last-of-type {
                    font-size: 14px !important;
                }
            }
            &-detail-link {
                width: 40px;
            }
        }
    }
}
