.wip {
  display: flex;
  justify-content: center;
  margin: 200px 0;
}

.wip-inner {
  background-color: #301a17;
  padding: 40px;
  text-align: center;
}

.wip-inner p {
  color: white;
  margin-bottom: 0;
}

