.cup-selector-mobile-cart {
  display: none;
}

.cup-selector-inner-capsules {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
}

.cup-selector-inner-capsules .cup-item-top-add {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 200ms ease;
  box-shadow: none;
}

.cup-selector-inner-capsules .cup-item-top-add:hover {
  opacity: 1;
}

.cup-selector-inner-capsules .cup-item-top-add-img {
  border-radius: 50%;
}

.cup-selector-inner-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.cup-selector-inner-text p {
  color: #999999;
  font-size: 22px;
}

.cup-selector-inner-paginate {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.cup-selector-inner-paginate-pages {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.cup-selector-inner-paginate-pages div {
  width: 30px;
  height: 30px;
  background-color: rgba(34, 25, 24, 0.5);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.cup-selector-inner-paginate-pages div p {
  color: #dfdfdf;
  font-size: 17px;
  line-height: 28px;
}

.cup-selector-inner-paginate-pages div.paginateActive {
  background-color: #221918;
}

.cup-selector-inner-paginate img {
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 45px;
  height: auto;
}

.cup-selector.cup-selector-modal {
  display: none;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  align-items: center;
}

.cup-selector.cup-selector-modal .cup-selector-inner {
  width: 60vw;
  margin: 0 auto;
  background-color: #453736;
  padding: 30px 50px;
  position: relative;
}

.cup-selector.cup-selector-mobile .cup-selector-mobile-cart-button {
  display: flex;
  position: fixed;
  z-index: 10;
  right: 10vw;
  bottom: 10vw;
  border-radius: 50%;
  cursor: pointer;
}

.cup-selector.cup-selector-mobile .cup-selector-mobile-cart-button-continue {
  background-color: #453736;
  width: 60px;
  border-radius: 50px;
  margin-right: -60px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  transition: all 200ms ease;
}

.cup-selector.cup-selector-mobile .cup-selector-mobile-cart-button-continue span {
  transition: opacity 100ms ease;
  color: white;
  opacity: 0;
}

.cup-selector.cup-selector-mobile .cup-selector-mobile-cart-button-continue.on-continue {
  z-index: 2;
  width: 80vw;
}

.cup-selector.cup-selector-mobile .cup-selector-mobile-cart-button-continue.on-continue span {
  opacity: 1;
}

.cup-selector.cup-selector-mobile .cup-selector-mobile-cart-button div {
  position: relative;
}

.cup-selector.cup-selector-mobile .cup-selector-mobile-cart-button div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cup-selector.cup-selector-mobile .cup-selector-mobile-cart-button div span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: absolute;
}

.cup-selector.cup-selector-mobile .cup-selector-inner-capsules {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 12px;
}

.cup-selector.cup-selector-mobile .cup-selector-inner-close {
  display: none;
}

.cup-selector.cup-selector-mobile .cup-selector-inner-text {
  display: none;
}

.cup-selector.cup-selector-mobile .cup-selector-inner-paginate {
  margin-top: 25px;
}

.cup-selector.cup-selector-mobile .cup-item-top-cupsize {
  width: 40px;
  height: 40px;
}

.cup-selector.cup-selector-mobile .cup-item-top {
  padding-bottom: 100%;
  height: 0;
}

.cup-selector.cup-selector-mobile .cup-item-top-background {
  position: absolute;
}

.cup-selector.cup-selector-mobile .cup-item-top-add {
  opacity: 1;
  width: 40px;
  left: 5px;
  bottom: 5px;
  top: unset;
  transform: unset;
}

.cup-selector.cup-selector-mobile .cup-item-bottom p:first-of-type {
  text-align: center;
  color: #0A0A0A;
  font-weight: normal;
}

.cup-selector.cup-selector-mobile .cup-item-bottom p:last-of-type {
  font-size: 14px !important;
  display: none;
}

.cup-selector.cup-selector-mobile .cup-item-detail-link {
  width: 40px;
}

.cup-selector-mobile-cart {
  position: fixed;
  width: 100vw;
  height: calc(100vh - calc(100vh - 100%));
  top: 0;
  left: 0;
  background-color: #221918;
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.cup-selector-mobile-cart-close {
  margin-left: auto;
  width: 50px;
  height: auto;
}

.cup-selector-mobile-cart .wrap h4 {
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.cup-selector-mobile-cart-cups {
  max-height: 600px;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-row-gap: 20px;
}

.cup-selector-mobile-cart-cups-cup {
  display: flex;
  background-color: #453736;
  min-height: 0;
  min-width: 0;
}

.cup-selector-mobile-cart-cups-cup.cup-item-empty {
  background-color: #301A17;
}

.cup-selector-mobile-cart-cups-cup img {
  width: auto;
  height: 100%;
}

.cup-selector-mobile-cart-continue {
  margin-top: 25px;
  background-color: #453736;
}

.cup-selector-mobile-cart-continue h4 {
  text-align: center;
  margin: 25px 0;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

