.topmenu {
  padding-top: 50px;
}

.topmenu-mobile {
  display: none;
}

.topmenu .btn-standard {
  margin-right: 15px;
}

.topmenu div:nth-of-type(2) {
  justify-content: flex-end;
  margin-top: -20px;
}

.topmenu .row {
  justify-content: space-between;
}

.topmenu .row .col-9 {
  justify-content: flex-end;
}

.topmenu-logo img {
  width: 190px;
}

.topmenu-navigation {
  display: flex;
  align-items: center;
}

.topmenu-navigation a {
  margin: 0 20px;
  font-size: 22px;
  font-weight: lighter;
}

.topmenu-navigation a:first-of-type {
  margin-left: 0;
}

.topmenu-navigation a:last-of-type {
  margin-right: 0;
}

.topmenu-navigation a:hover {
  color: #B7B7B7;
  transition: color 200ms ease;
}

.topmenu-navigation a.active span {
  border-bottom: 1px solid white;
  width: 100%;
  display: block;
}

.topmenu h2 {
  font-weight: 300;
}

.topmenu-block {
  background-color: #301A17;
  position: absolute;
  right: 0;
  top: 0;
  height: 185px;
  width: 470px;
  z-index: -1;
}

@media only screen and (max-width: 1100px) {
  #app {
    margin-top: 90px;
  }

  .mobile-menu-navigation h2 {
    font-size: 22px;
  }

  .topmenu {
    z-index: 8;
    top: 0;
    background-color: #301A17;
    position: fixed;
    width: 80vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .topmenu::before,
  .topmenu::after {
    content: '';
    position: absolute;
    background-color: #301A17;
    height: 100%;
    width: 10vw;
    top: 0;
  }

  .topmenu::before {
    left: -10vw;
  }

  .topmenu::after {
    right: -10vw;
  }

  .topmenu-mobile {
    align-self: center;
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;
    cursor: pointer;
    justify-content: flex-end;
  }

  .topmenu-mobile .hamburger {
    padding: 0;
  }

  .topmenu-mobile .hamburger-box {
    width: 50px;
  }

  .topmenu-mobile .hamburger .hamburger-inner,
  .topmenu-mobile .hamburger .hamburger-inner::after,
  .topmenu-mobile .hamburger .hamburger-inner::before {
    width: 50px;
    height: 5px;
    background-color: #fff;
  }

  .topmenu-mobile .hamburger .hamburger-inner::before {
    top: 13px;
  }

  .topmenu-mobile .hamburger .hamburger-inner::after {
    top: 26px;
  }

  .topmenu-mobile .hamburger.is-active .hamburger-inner {
    top: 5px;
  }

  .topmenu-mobile .hamburger.is-active .hamburger-inner::after {
    top: 20px;
  }

  .topmenu-mobile .hamburger.is-active .hamburger-inner::before {
    top: 10px;
  }

  .topmenu img {
    height: 55px;
    width: auto;
  }

  .topmenu-navigation,
  .topmenu .btn-row {
    display: none !important;
  }

  .topmenu-block {
    display: none;
  }

  .btn-standard {
    margin-top: 20px;
  }
}

